#game-container {
    width: 400px;
    height: 400px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0 auto;
}

.grid-cell {
    background-color: salmon;
    font-size: 5.5em;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    flex: 115px 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
}