#game-container {
    width: 400px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 auto;
}

.grid-cell {
    width: 32%;
    min-width: 0%;
    min-height: 100px;
    background-color: salmon;
    font-size: 2.5em;
    border-style: solid;
    border-width: 1px;
    flex: 1 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
}

#winner-display {
    height: 50px;
    font-size: 2.5em;
    text-align: center;
}

#reset-display {
    margin: 0 auto;
    padding: 10px;
    text-align: center;

}

#reset-button {
    border-radius: 2px;
}